.rw {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 25px !important;
}

.loadingStatus{
  width: 8% !important;
  margin: 0px auto !important;
  height: 100px !important;
}